@page
@model BiteMeBurger.Pages.BurgerListModel
@{
	ViewData["Title"]="Burger List";
}

<div class="row">
    @foreach (var burger in Model.Burgers)
    {
        <div id="Container" class="col-lg-3 col-md-4 col-sm-1">
            <img id="Image" style="width: 100%; height: 100%;" src="@burger.image" alt="@burger.name" />
            <span id="Title">@burger.name</span>
            <span id="Price">Rs. Coming Soon</span>
            <span id="Quantity"><input id="quantityInput" type="number" name="Quantity" value="" placeholder="0" /></span>
            <span id="CartButton"><button id="btn"><span class="fa fa-shopping-cart"></span>Add to Cart</button></span>
        </div>
    }                                                                                                                                                                                                                                             

</div>