@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form action="/FormHandler" method="get">

    <label for="id">Enter ID: </label>
    <input id="id" type="number" name="id" value="" required />
    <br />
    <label for="name">Enter Name: </label>
    <input id="name" type="text" name="name" value="" required />
    <br />
    <label for="image">Enter Image URL: </label>
    <input id="image" type="text" name="image" value="" required />

    <input type="submit" name="submit" value="Submit" />


</form>
